[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "0.110.3"}
pydantic = "2.7.1"
psycopg2 = "2.9.9"
pyyaml = "6.0.1"
sqlalchemy = "2.0.29"
python-multipart = "0.0.9"
pytest = "8.2.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
